{{!-- Navigation template --}}
<ul class="u-unstyled">
    {{#navigation}}
        {{#each items}}
            <li>
                <a class="nav-item nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url link}}">
                    {{label}}
                </a>
            </li>
        {{/each}}
    {{/navigation}}
</ul>
