{{> header}}
	<main class="main">
		<section id="cover" class="cover u-flex-wrap" style="min-height:100vh">
			<div class="cover-background {{#if @settings.cover}}" style="background-image: url({{url @settings.cover}}){{else}}no-cover{{/if}}"></div>
			<div class="cover-wrap u-flex-aling-center">
			<h1 id="title-home" class="cover-title animated bounceInDown">{{@settings.title}}</h1>
			<p class="cover-description animated bounceIn">{{@settings.tagline}}</p>
			</div>
			<a href="#ScrollBody" class="scrolltop mouse u-h-b-lg"><span class="scroll"></span></a>
		</section>
		{{> loop}}
	</main>
	
{{> footer}}
	