{{!-- Add Layout --}}
{{#post}}
{{> header}}
<div class="container">
	<section class="post-wrapper">
		<div class="row">
			<div class="col s12 content">
				<article class="post">
					<div class="post-header">
						<h1 class="post-title">
							{{title editable="true"}}
						</h1>
						{{#if image}}<figure class="post-image"><img src="{{url image}}" alt="{{title}}" class="img-responsive"/></figure>{{/if}}
					</div>
					<div class="post-body">
						{{content editable="true"}}
					</div>
				</article>
			</div>
			{{>sidebar}}
		</div>
	</section>
</div>

{{> footer}}
{{/post}}